extends layout.pug
block content
  div(class="container p-3" style="width: 75%;")
    h1(class="text-center mb-2") Update Contact
    hr
    div
      form(action=`/${contact.ID}/edit` method="post")
        fieldset
          legend Basic Info
          div(class="row g-3")
            div.col-md-2(style="max-width: 30%")
              label(for="title" class="form-label") Title:
              select.form-select.form-select-sm(name="title")
                option(value="1" selected=(!error ? (contact.Title === "Mr" ? true : false) : (contact.title === "1" ? true : false))) Mr.
                option(value="2" selected=(!error ? (contact.Title === "Mrs" ? true : false) : (contact.title === "2" ? true : false))) Mrs.
                option(value="3" selected=(!error ? (contact.Title === "Ms" ? true : false) : (contact.title === "3" ? true : false))) Ms.
                option(value="4" selected=(!error ? (contact.Title === "Dr" ? true : false) : (contact.title === "4" ? true : false))) Dr.
            div(class="col-md-5")
              label(for="first" class="form-label") First Name:
              input(name="first" class="form-control" required value=(!error ? contact.First_Name : contact.firstName))
            div(class="col-md-5")
              label(for="last" class="form-label") Last Name:
              input(name="last" class="form-control" required value=(!error ? contact.Last_Name : contact.lastName))
            div(class="col-md-6")
              label(for="phone" class="form-label") Phone:
              input(type="tel" name="phone" class="form-control" required value=(!error ? contact.Phone_Number : contact.phoneNumber))
            div(class="col-md-6")
              label(for="email" class="form-label") Email:
              div(class="input-group")
                span(class="input-group-text") @
                input(type="email" name="email" class="form-control" required value=(!error ? contact.Email_Address : contact.emailAddress))
        hr(class="my-3")
        fieldset
          legend Address
          div(class="row g-3")
            div(class="col-md-12")
              label(for="address" class="form-label") Enter Address:
              input(name="address" class="form-control" required  value=value=(!error ? contact.Address : ""))
        hr(class="my-3")
        fieldset
          legend Contact Preferences
          div(class="form-check")
            input(type="checkbox" name="contact_by_phone" class="form-check-input" checked=(!error ? (contact.Contact_By_Phone ? true : false) : (contact.contactByPhone ? true : false)))
            label(for="contact_by_phone" class="form-check-label") Contact by phone
          div(class="form-check")
            input(type="checkbox" name="contact_by_email" class="form-check-input" checked=(!error ? (contact.Contact_By_Email ? true : false) : (contact.contactByEmail ? true : false)))
            label(for="contact_by_email" class="form-check-label") Contact by email
          div(class="form-check")
            input(type="checkbox" name="contact_by_mail" class="form-check-input" checked=(!error ? (contact.Contact_By_Mail ? true : false) : (contact.contactByMail ? true : false)))
            label(for="contact_by_mail" class="form-check-label") Contact by mail
        hr(class="my-3")
        button(type="submit" class="btn btn-primary btn-lg me-3") Save
        a(href="/" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover fs-5") Cancel
      if error 
        p.bg-warning-subtle.p-3.bordered.rounded.mt-3 #{error}