extends layout.pug
block content
  div(class="container d-flex flex-column align-items-center" style="margin-top: 200px")
    h1 Not Authorized
    a.btn.btn-primary(href="/login") Sign In
    p.mt-2 Don't have an account yet?
      a(href="/signup" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover ms-2") Sign up here!
    a(href="/" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover ms-2") Nevermind